body {
  width: 290px;
  height: 200px;
  margin: 0;
  background-image: url('./assets/popupBackground.png');
}

.header {
  display: flex;
  justify-content: flex-end;
}

.headerImage {
  height: 50px;
}

.appTitle {
  font-size: 22px;
  font-weight: bold;
  padding-top: 8px;
  margin: 0px 15px;
  color: black;
}

.startButton {
  display: block;
  width: 90px;
  height: 30px;
  margin: 5px 100px 0px 100px;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  color: black;
  background-color: #8dc95f;
  font-weight: bold;
  cursor: pointer;
}

.startButton:hover {
  background-color: #eded83;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.stopButton {
  display: block;
  width: 90px;
  height: 30px;
  margin: 8px 100px;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  color: white;
  background-color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.stopButton:hover {
  background-color: #ff0000;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.footerImage {
  height: 50px;
  margin-top: 16px;
}
